@model PCVTry.Models.AddiAccess
@{
    ViewData["Title"] = "AddiAccessCreate";
}
<br />
<br />
<h2 class="text-center bg-primary">Addi Access</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddiAccessId" class="control-label"></label>
                <input asp-for="AddiAccessId" class="form-control" />
                <span asp-validation-for="AddiAccessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pci" class="control-label"></label>
                @Html.EditorFor(x => x.Pci)
            </div>
            <div class="form-group">
                <label asp-for="Fdic" class="control-label"></label>
                @Html.EditorFor(x => x.Fdic)
            </div>
            <div class="form-group">
                <label asp-for="Crm" class="control-label"></label>
                @Html.EditorFor(x => x.Crm)
            </div>
            <div class="form-group">
                <label asp-for="CopyOf" class="control-label"></label>
                <input asp-for="CopyOf" class="form-control" />
                <span asp-validation-for="CopyOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
